body {
    margin: 0;
    z-index: 1;
    font-family: 'Roboto Mono', monospace;;
}

@keyframes fade{
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}

@keyframes fadeIn{
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

#par {
    display: none;
    position: absolute;
    font-weight: 900;
    z-index: 3;
    left: 30%;
    top: 8%;
    font-size: 90px;
    color: navy;
    background-color: rgba(211, 13, 13, 0.884);
    border-radius: 1vmin;
    padding-left: 10px;
}

#fade {
    animation: fade 3s;
}

#fadeIn {
    animation: fadeIn 3s;
}

#home {
    position: absolute;
    width: 100vw;
    height: 100vh;
    z-index: 3;
}

#entrance {
    font-family: 'Alatsi', sans-serif;
    letter-spacing: 5px;
}

h1 {
    position: absolute;
    z-index: 3;
    top: 32%;
    left: 30%;
    font-size: 40px;
    color: #051122;
    text-shadow: 1px 2px 2px;
    text-transform: uppercase;
    background-color: #2b384b6b;
    border-radius: 25%;
}

#btn {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 43%;
    padding: 10px 30px;
    background-color: rgb(11, 117, 25);
    color: rgb(238, 238, 238);
    font-family: 'Alatsi', sans-serif;
    cursor: pointer;
    border: 1px solid #2b384b6b;
    border-radius: 2em;
}

#btn2 {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 52%;
    padding: 10px 30px;
    background-color: rgb(11, 117, 25);
    color: rgb(238, 238, 238);
    font-family: 'Alatsi', sans-serif;
    cursor: pointer;
    border: 1px solid #2b384b6b;
    border-radius: 2em;
}

#btn:hover, #btn2:hover {
    background-color: rgb(11, 105, 24);
}

#grid {
    display: grid;
    grid-template-columns: repeat(6, 16.66vw);
    grid-template-rows: repeat(6, 16.66vh);
    /* column-gap: 1%; */
    grid-template-areas:
    "teamX teamX teamX teamE teamE teamE"
    "teamX teamX teamX teamE teamE teamE"
    "teamX teamX teamX teamE teamE teamE"
    "teamC teamC teamC teamA teamA teamA"
    "teamC teamC teamC teamA teamA teamA"
    "teamC teamC teamC teamA teamA teamA";
    z-index: 2;
}

#TeamXaiver {
    grid-area: teamX;
    background-image: url('./gymImages/fightingGym.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.33%);
    grid-template-areas:
    ". . ."
    ". fig ."
    ". . ."
}

#TeamLuis {
    grid-area: teamC;
    background-image: url('./gymImages/dragonGym.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.33%);
    grid-template-areas:
    ". . ."
    ". dra ."
    ". . ."
}

#TeamEshwar {
    grid-area: teamE;
    background-image: url('./gymImages/iceGym.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.33%);
    grid-template-areas:
    ". . ."
    ". ice ."
    ". . ."
}

#TeamLewis {
    grid-area: teamA;
    background-image: url('https://cdn02.nintendo-europe.com/media/images/08_content_images/games_6/nintendo_switch_7/nswitch_supersmashbrosultimate_1/CI_NSwitch_SuperSmashBrosUltimate_Stage_04.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 33.33%);
    grid-template-rows: repeat(3, 33.33%);
    grid-template-areas:
    ". . ."
    ". gho ."
    ". . ."
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.inner-modal {
  display: flex;
  justify-content: space-around;
  overflow-x: hidden;
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

#myBtn1 {
  margin-top:10%;
  width: auto;
  height: 10%;
}
#myBtn2 {
  margin-top:10%;
  width: auto;
  height: 10%;
}
#myBtn3 {
  margin-top:10%;
  width: auto;
  height: 10%;
}
#myBtn4 {
  margin-top:10%;
  width: auto;
  height: 10%;
}


#fighters {
grid-area: fig
}

#dragons  {
grid-area: dra
}

#ices {
grid-area: ice
}

#ghosts {
grid-area: gho
}
