body {
    margin: 0;
}

#grid {
    display: grid;
    grid-template-columns: repeat(2, 50vw);
    grid-template-rows: repeat(2, 50vh);
    justify-items: center;
    align-items: center;
    /* column-gap: 1%; */
    grid-template-areas: 'teamX teamE'
    'teamA teamC';
}

.TeamXaiver {
    grid-area: teamX;
    background-image: url('./gymImages/fightingGym.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
}

.TeamLuis {
    grid-area: teamC;
    background-image: url('./gymImages/dragonGym.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
}

.TeamEshwar {
    grid-area: teamE;
    background-image: url('./gymImages/iceGym.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;

}

.TeamLewis {
    grid-area: teamA;
    background-image: url('./gymImages/ghostGym.png');
    background-size: cover;
    height: 100%;
    width: 100%;
}
