body {
    margin: 0;
}

#grid {
    display: grid;
    grid-template-columns: repeat(6, 16.66vw);
    grid-template-rows: repeat(6, 16.66vh);
    /* column-gap: 1%; */
    grid-template-areas:
    "teamX teamX teamX teamE teamE teamE"
    "teamX teamX teamX teamE teamE teamE"
    "teamX teamX teamX teamE teamE teamE"
    "teamC teamC teamC teamA teamA teamA"
    "teamC teamC teamC teamA teamA teamA"
    "teamC teamC teamC teamA teamA teamA"
}

.TeamXaiver {
    grid-area: teamX;
    background-image: url('./gymImages/fightingGym.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: 30% 35% 35%;
    grid-template-areas:
    ". . ."
    ". . ."
    ". fig ."
}

.TeamLuis {
    grid-area: teamC;
    background-image: url('./gymImages/dragonGym.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: 30% 27% 43%;
    grid-template-areas:
    ". . ."
    ". . ."
    ". dra ."
}

.TeamEshwar {
    grid-area: teamE;
    background-image: url('./gymImages/iceGym.jpg');
    background-size: cover;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: 35% 34% 30%;
    grid-template-areas:
    ". . ."
    ". . ."
    ". ice ."
}

.TeamLewis {
    grid-area: teamA;
    background-image: url('./gymImages/ghostGym.png');
    background-size: cover;
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: 30% 50% 20%;
    grid-template-rows: 30% 35% 30%;
    grid-template-areas:
    ". . ."
    ". . ."
    ". gho ."
}

#fighters {
grid-area: fig
}

#dragons  {
grid-area: dra
}

#ices {
grid-area: ice
}

#ghosts {
grid-area: gho
}
